.container{
    display: flex;
    align-items: center;
    flex-direction: column;
}
body{
    background-color: rgb(7, 7, 100);
}
.p1{
    font-size: 3em;
    color: rgb(7, 7, 100);
    background-color: aliceblue;
    border-radius: 25px;
    padding: 20px;
    font-family: "Arvo";
    transition: 0.25s;
    height: 50px;

}
@media only screen and (max-width: 600px) {
    .p1 {
        font-size: 1em; 
        border-radius: 15px; 
        padding:0;

    }
}
.l1,.l2,.d4 p{
    color: aliceblue;
    font-family: "Happy Monkey";
    font-size: 20px;
    margin-right: 10px;
}
.range{
    margin: 20px;
}
.range input,.inp3{
    width: 40px;
    height: 20px;
    border-radius: 10px;
    color: rgb(7, 7, 100);
    font-weight: bold;
    font-family: "Happy Monkey";
}  
.b1,.guess button{
    font-family: "Happy Monkey";
    color: brown;
    font-weight: bolder;
    width: 50px;
    border-radius: 10px;
    transition: 2.5ms;
    padding: 2px;
    margin-left: 10px;
    background-color: rgb(227, 238, 127);
} 
.b1:hover,.guess button:hover{
    background-color: rgb(210, 234, 0);
    cursor: pointer;
    padding: 5px;
}
.res{
    font-size: 1em;
    color: rgb(7, 7, 100);
    background-color: aliceblue;
    border-radius: 25px;
    padding:8px;
    width:500px;
    font-family: "Arvo";
    text-align: center;
    transition: 0.25ms;

}
.res:hover{
    padding: 10px;

}
.d4{
    display: flex;
    
}

